body {
    margin: 10%;
}

h1 {
    font-size: large;
}

#currentWord {
    color: green;
    font-weight: bold;
    letter-spacing: 0.5em;
}

.jumbotron {
    background-image: url("../images/fruitbasket.png");
    background-size: cover;
    color: aliceblue;
    text-shadow: 1px 1px #aaaacc;
}

#gamestatus {
    color: purple;
    font-weight: bold;
}

input {
    border-width: 0px;
    color: white;
}

.form-control, .form-control:focus {
    border: none;
    /*border-color: #5cb85c; testing */
    box-shadow: none; 
    -webkit-box-shadow: none;
    width: 0%;
    height: 1px;
}

.has-error, .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}